$btncolor: white;

.button {
  max-width: 200px;
  border: none;
  outline: none;
  background-color: $btncolor;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;

  &:hover {
    transform: scaleX(0.9);
    border-radius: 10px;
  }

  &:active {
    background-color: darken($btncolor, 30%);
  }
}
