.carousel {
  width: 50vw;
  height: 50vh;
  margin: 0px 20px;

  .swiper {
    width: 50%;
    max-width: 250px;
    max-height: 300px;
    height: 75%;

    .slide {
      background-color: white;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      display: flex;

      img {
        width: 150px;
        height: auto;
      }
    }
  }
}

.swiper-button-next {
  background-image: url("../../assets/images/arrow.svg");
}
