.swiper-button-next {
  right: -10px !important;
  background: url("../../assets/images/arrow.svg");
  background-size: cover;
  background-position: center;
  z-index: 11;
  width: 45px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: -10px !important;
  transform: rotate(180deg);
  background: url("../../assets/images/arrow.svg");
  background-size: cover;
  background-position: center;
  z-index: 11;
  width: 45px !important;
}

.swiper-button-prev::after {
  display: none;
}
