* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "1529ChampFleuryW01-Regular";
  font-family: "Raleway", sans-serif;
}

body {
  position: relative;
  display: flex;
  background: url("../src/assets/images/layer-base.png");
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  // background-repeat: no-repeat;
  background-size: cover;
  background-color: #020502;
  background-attachment: fixed;
  justify-content: center;
  overflow-x: hidden;
}

.wrapper {
  display: block;
  width: 1280px;
  height: 100%;
  padding: 25px 0px;
  justify-content: center;
}

// .loading-wrapper {
//   .loading-title {
//     color: white;
//     text-shadow: 0 0 10px #ffff72, 0 0 30px #ffff72, 0 0 80px #ffff72;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }

//   .wrapper {
//     opacity: 0;
//   }
// }

@media (max-width: 1280px) {
  .wrapper {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 280px;
  }
}

@keyframes slide {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
